@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ash: #545454;
  --color-orange: #ff4b2b;
  --color-lighter-ash: #ebebeb;
  --color-brand-orange: #ff4f33;

  /* Font mappings for Tailwind utility classes */
  --font-hugePromo: "Huge Promo";
  --font-inter: "Inter";
  --font-georgia: "Georgia", "Cambria", "Times New Roman", "Times", "serif";
  --font-bebas: "Bebas Neue", "sans-serif";
  --font-instrument: "Instrument Serif", "serif";
  --font-sthupo: "STHupo", "cursive", "sans-serif";
  --font-SFPro: "SFPro";
  --font-aeonik: "Aeonik TRIAL", "sans-serif";
  --font-pompiere: "Pompiere", "sans-serif";

  /* Grid templates */
  --grid-template-columns-auto: repeat(auto-fill, minmax(220px, 1fr));
  --grid-template-columns-responsive: repeat(auto-fill, minmax(300px, 1fr));
  --grid-template-columns-mobile: repeat(auto-fill, minmax(100px, 1fr));
  --grid-template-columns-explore: repeat(auto-fit, minmax(260px, 1fr));
}

/* Custom Font Faces - Fixed Weights */
@font-face {
  font-family: "STHupo";
  src: url("/fonts/chinese.sthupo.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Correctly mapping SFPro weights so font-bold and font-medium work */
@font-face {
  font-family: "SFPro";
  src: url("/fonts/SFProText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SFPro";
  src: url("/fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SFPro";
  src: url("/fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-inter);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #ffe6d5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff6b35;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e35b20;
}

/* Autofill styling */
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

@keyframes loadingWave {
  0% {
    transform: scale(0.8);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.4;
  }
}
